.tp-caption.medium_grey{position:absolute;
	color:#fff;
text-shadow:0 2px 5px rgba(0,0,0,0.5);
font-weight:700;
font-size:20px;
line-height:20px;
font-family:Arial;
padding:2px 4px;
margin:0;
border-width:0;
border-style:none;
background-color:#888;
white-space:nowrap}.tp-caption.small_text{position:absolute;
	color:#fff;
text-shadow:0 2px 5px rgba(0,0,0,0.5);
font-weight:700;
font-size:14px;
line-height:20px;
font-family:Arial;
margin:0;
border-width:0;
border-style:none;
white-space:nowrap}.tp-caption.medium_text{position:absolute;
	color:#fff;
text-shadow:0 2px 5px rgba(0,0,0,0.5);
font-weight:700;
font-size:20px;
line-height:20px;
font-family:Arial;
margin:0;
border-width:0;
border-style:none;
white-space:nowrap}.tp-caption.large_text{position:absolute;
	color:#fff;
text-shadow:0 2px 5px rgba(0,0,0,0.5);
font-weight:700;
font-size:40px;
line-height:40px;
font-family:Arial;
margin:0;
border-width:0;
border-style:none;
white-space:nowrap}.tp-caption.very_large_text{position:absolute;
	color:#fff;
text-shadow:0 2px 5px rgba(0,0,0,0.5);
font-weight:700;
font-size:60px;
line-height:60px;
font-family:Arial;
margin:0;
border-width:0;
border-style:none;
white-space:nowrap;
letter-spacing:-2px}.tp-caption.very_big_white{position:absolute;
	color:#fff;
text-shadow:none;
font-weight:800;
font-size:60px;
line-height:60px;
font-family:Arial;
margin:0;
border-width:0;
border-style:none;
white-space:nowrap;
padding:0 4px;
padding-top:1px;
background-color:#000}.tp-caption.very_big_black{position:absolute;
	color:#000;
text-shadow:none;
font-weight:700;
font-size:60px;
line-height:60px;
font-family:Arial;
margin:0;
border-width:0;
border-style:none;
white-space:nowrap;
padding:0 4px;
padding-top:1px;
background-color:#fff}.tp-caption.modern_medium_fat{position:absolute;
	color:#000;
text-shadow:none;
font-weight:800;
font-size:24px;
line-height:20px;
font-family:"Open Sans",sans-serif;
margin:0;
border-width:0;
border-style:none;
white-space:nowrap}.tp-caption.modern_medium_fat_white{position:absolute;
	color:#fff;
text-shadow:none;
font-weight:800;
font-size:24px;
line-height:20px;
font-family:"Open Sans",sans-serif;
margin:0;
border-width:0;
border-style:none;
white-space:nowrap}.tp-caption.modern_medium_light{position:absolute;
	color:#000;
text-shadow:none;
font-weight:300;
font-size:24px;
line-height:20px;
font-family:"Open Sans",sans-serif;
margin:0;
border-width:0;
border-style:none;
white-space:nowrap}.tp-caption.modern_big_bluebg{position:absolute;
	color:#fff;
text-shadow:none;
font-weight:800;
font-size:30px;
line-height:36px;
font-family:"Open Sans",sans-serif;
padding:3px 10px;
margin:0;
border-width:0;
border-style:none;
background-color:#4e5b6c;
letter-spacing:0}.tp-caption.modern_big_redbg{position:absolute;
	color:#fff;
text-shadow:none;
font-weight:300;
font-size:30px;
line-height:36px;
font-family:"Open Sans",sans-serif;
padding:3px 10px;
padding-top:1px;
margin:0;
border-width:0;
border-style:none;
background-color:#de543e;
letter-spacing:0}.tp-caption.modern_small_text_dark{position:absolute;
	color:#555;
text-shadow:none;
font-size:14px;
line-height:22px;
font-family:Arial;
margin:0;
border-width:0;
border-style:none;
white-space:nowrap}.tp-caption.boxshadow{-moz-box-shadow:0 0 20px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.5);
box-shadow:0 0 20px rgba(0,0,0,0.5)}.tp-caption.black{color:#000;
	text-shadow:none}.tp-caption.noshadow{text-shadow:none}.tp-caption.thinheadline_dark{position:absolute;
	color:rgba(0,0,0,0.85);
text-shadow:none;
font-weight:300;
font-size:30px;
line-height:30px;
background-color:transparent}.tp-caption.thintext_dark{position:absolute;
	color:rgba(0,0,0,0.85);
text-shadow:none;
font-weight:300;
font-size:16px;
line-height:26px;
background-color:transparent}.tp-caption.largeblackbg{position:absolute;
	color:#fff;
text-shadow:none;
font-weight:300;
font-size:50px;
line-height:70px;
background-color:#000;
padding:0 20px;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0}.tp-caption.largepinkbg{position:absolute;
	color:#fff;
text-shadow:none;
font-weight:300;
font-size:50px;
line-height:70px;
background-color:#db4360;
padding:0 20px;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0}.tp-caption.largewhitebg{position:absolute;
	color:#000;
text-shadow:none;
font-weight:300;
font-size:50px;
line-height:70px;
background-color:#fff;
padding:0 20px;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0}.tp-caption.largegreenbg{position:absolute;
	color:#fff;
text-shadow:none;
font-weight:300;
font-size:50px;
line-height:70px;
background-color:#67ae73;
padding:0 20px;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0}.tp-caption.excerpt{font-size:36px;
	line-height:36px;
font-weight:700;
font-family:Arial;
color:#fff;
text-decoration:none;
background-color:rgba(0,0,0,1);
text-shadow:none;
margin:0;
letter-spacing:-1.5px;
padding:1px 4px 0;
width:150px;
white-space:normal!important;
height:auto;
border-width:0;
border-color:#fff;
border-style:none}.tp-caption.large_bold_grey{font-size:60px;
	line-height:60px;
font-weight:800;
color:#666;
text-decoration:none;
background-color:transparent;
text-shadow:none;
margin:0;
padding:1px 4px 0;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.medium_thin_grey{font-size:34px;
	line-height:30px;
font-weight:300;
color:#666;
text-decoration:none;
background-color:transparent;
padding:1px 4px 0;
text-shadow:none;
margin:0;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.small_thin_grey{font-size:18px;
	line-height:26px;
font-weight:300;
color:#757575;
text-decoration:none;
background-color:transparent;
padding:1px 4px 0;
text-shadow:none;
margin:0;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.lightgrey_divider{text-decoration:none;
	background-color:rgba(235,235,235,1);
width:370px;
height:3px;
background-position:initial initial;
background-repeat:initial initial;
border-width:0;
border-color:#222;
border-style:none}.tp-caption.large_bold_darkblue{font-size:58px;
	line-height:60px;
font-weight:800;
color:#34495e;
text-decoration:none;
background-color:transparent;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.medium_bg_darkblue{font-size:20px;
	line-height:20px;
font-weight:800;
color:#fff;
text-decoration:none;
background-color:#34495e;
padding:10px;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.medium_bold_red{font-size:24px;
	line-height:30px;
font-weight:800;
color:#e33a0c;
text-decoration:none;
background-color:transparent;
padding:0;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.medium_light_red{font-size:21px;
	line-height:26px;
font-weight:300;
color:#e33a0c;
text-decoration:none;
background-color:transparent;
padding:0;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.medium_bg_red{font-size:20px;
	line-height:20px;
font-weight:800;
color:#fff;
text-decoration:none;
background-color:#e33a0c;
padding:10px;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.medium_bold_orange{font-size:24px;
	line-height:30px;
font-weight:800;
color:#f39c12;
text-decoration:none;
background-color:transparent;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.medium_bg_orange{font-size:20px;
	line-height:20px;
font-weight:800;
color:#fff;
text-decoration:none;
background-color:#f39c12;
padding:10px;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.grassfloor{text-decoration:none;
	background-color:rgba(160,179,151,1);
width:4000px;
height:150px;
border-width:0;
border-color:#222;
border-style:none}.tp-caption.large_bold_white{font-size:58px;
	line-height:60px;
font-weight:800;
color:#fff;
text-decoration:none;
background-color:transparent;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.medium_light_white{font-size:30px;
	line-height:36px;
font-weight:300;
color:#fff;
text-decoration:none;
background-color:transparent;
padding:0;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.mediumlarge_light_white{font-size:34px;
	line-height:40px;
font-weight:300;
color:#fff;
text-decoration:none;
background-color:transparent;
padding:0;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.mediumlarge_light_white_center{font-size:34px;
	line-height:40px;
font-weight:300;
color:#fff;
text-decoration:none;
background-color:transparent;
padding:0;
text-align:center;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.medium_bg_asbestos{font-size:20px;
	line-height:20px;
font-weight:800;
color:#fff;
text-decoration:none;
background-color:#7f8c8d;
padding:10px;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.medium_light_black{font-size:30px;
	line-height:36px;
font-weight:300;
color:#000;
text-decoration:none;
background-color:transparent;
padding:0;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.large_bold_black{font-size:58px;
	line-height:60px;
font-weight:800;
color:#000;
text-decoration:none;
background-color:transparent;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.mediumlarge_light_darkblue{font-size:34px;
	line-height:40px;
font-weight:300;
color:#34495e;
text-decoration:none;
background-color:transparent;
padding:0;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.small_light_white{font-size:17px;
	line-height:28px;
font-weight:300;
color:#fff;
text-decoration:none;
background-color:transparent;
padding:0;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.roundedimage{border-width:0;
	border-color:#222;
border-style:none}.tp-caption.large_bg_black{font-size:40px;
	line-height:40px;
font-weight:800;
color:#fff;
text-decoration:none;
background-color:#000;
padding:10px 20px 15px;
border-width:0;
border-color:#ffd658;
border-style:none}.tp-caption.mediumwhitebg{font-size:30px;
	line-height:30px;
font-weight:300;
color:#000;
text-decoration:none;
background-color:#fff;
padding:5px 15px 10px;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.large_bold_white_25{font-size:55px;
	line-height:65px;
font-weight:700;
color:#fff;
text-decoration:none;
background-color:transparent;
text-align:center;
text-shadow:#000 0 5px 10px;
border-width:0;
border-color:#fff;
border-style:none}.tp-caption.medium_text_shadow{font-size:25px;
	line-height:25px;
font-weight:600;
color:#fff;
text-decoration:none;
background-color:transparent;
text-align:center;
text-shadow:#000 0 5px 10px;
border-width:0;
border-color:#fff;
border-style:none}.tp-caption.black_heavy_60{font-size:60px;
	line-height:60px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#000;
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.white_heavy_40{font-size:40px;
	line-height:40px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.grey_heavy_72{font-size:72px;
	line-height:72px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#d5d2d2;
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.grey_regular_18{font-size:18px;
	line-height:26px;
color:#777;
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.black_thin_34{font-size:35px;
	line-height:35px;
font-weight:100;
font-family:'Montserrat',sans-serif;
color:#000;
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.arrowicon{line-height:1px;
	border-width:0;
border-color:#222;
border-style:none}.tp-caption.light_heavy_60{font-size:60px;
	line-height:60px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.black_bold_40{font-size:40px;
	line-height:40px;
font-weight:800;
font-family:'Montserrat',sans-serif;
color:#000;
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.light_heavy_70{font-size:70px;
	line-height:70px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.black_heavy_70{font-size:70px;
	line-height:70px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#000;
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.black_bold_bg_20{font-size:20px;
	line-height:20px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:#000;
padding:5px 8px;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.greenbox30{line-height:30px;
	text-decoration:none;
background-color:#86b567;
padding:0 14px;
border-width:0;
border-color:#222;
border-style:none}.tp-caption.blue_heavy_60{font-size:60px;
	line-height:60px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:#31a5cb;
padding:3px 10px;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.green_bold_bg_20{font-size:20px;
	line-height:20px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:#86b567;
padding:5px 8px;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.whitecircle_600px{line-height:1px;
	width:800px;
height:800px;
text-decoration:none;
background:linear-gradient(to bottom,rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
filter:progid;
background-color:transparent;
border-radius:400px 400px 400px 400px;
border-width:0;
border-color:#222;
border-style:none}.tp-caption.fullrounded{border-radius:400px 400px 400px 400px;
	border-width:0;
border-color:#222;
border-style:none}.tp-caption.light_heavy_40{font-size:40px;
	line-height:40px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.white_thin_34{font-size:35px;
	line-height:35px;
font-weight:200;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.fullbg_gradient{width:100%;
	height:100%;
text-decoration:none;
background-color:#490202;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.light_medium_30{font-size:30px;
	line-height:40px;
font-weight:700;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.red_bold_bg_20{font-size:20px;
	line-height:20px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:#e03300;
padding:5px 8px;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.blue_bold_bg_20{font-size:20px;
	line-height:20px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:#3598dc;
padding:5px 8px;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.white_bold_bg_20{font-size:20px;
	line-height:20px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#000;
text-decoration:none;
background-color:#fff;
padding:5px 8px;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.white_heavy_70{font-size:70px;
	line-height:70px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.light_heavy_70_shadowed{font-size:70px;
	line-height:70px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:transparent;
text-shadow:0 0 7px rgba(0,0,0,0.25);
border-width:0;
border-color:#000;
border-style:none}.tp-caption.light_medium_30_shadowed{font-size:30px;
	line-height:40px;
font-weight:700;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:transparent;
text-shadow:0 0 7px rgba(0,0,0,0.25);
border-width:0;
border-color:#000;
border-style:none}.tp-caption.blackboxed_heavy{font-size:70px;
	line-height:70px;
font-weight:800;
color:#fff;
text-decoration:none;
background-color:#000;
padding:5px 20px;
text-shadow:rgba(0,0,0,0.14902) 0 0 7px;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.bignumbers_white{color:#fff;
	background-color:rgba(0,0,0,0);
font-size:84px;
line-height:84px;
font-weight:800;
font-family:'Montserrat',sans-serif;
text-decoration:none;
padding:0;
text-shadow:rgba(0,0,0,0.247059) 0 0 7px;
border-width:0;
border-color:#fff;
border-style:none solid none none}.tp-caption.whiteline_long{line-height:1px;
	min-width:660px;
background-color:transparent;
text-decoration:none;
border-width:2px 0 0;
border-color:#fff #222 #222;
border-style:solid none none}.tp-caption.light_medium_20_shadowed{font-size:20px;
	line-height:30px;
font-weight:700;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:transparent;
text-shadow:0 0 7px rgba(0,0,0,0.25);
border-width:0;
border-color:#000;
border-style:none}.tp-caption.fullgradient_overlay{background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
	filter:progid;
width:100%;
height:100%;
border-width:0;
border-color:#222;
border-style:none}.tp-caption.light_medium_20{font-size:20px;
	line-height:30px;
font-weight:700;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:transparent;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.reddishbg_heavy_70{font-size:70px;
	line-height:70px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:rgba(100,1,24,0.8);
padding:50px;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.borderbox_725x130{min-width:725px;
	min-height:130px;
background-color:transparent;
text-decoration:none;
border-width:2px;
border-color:#fff;
border-style:solid}.tp-caption.light_heavy_34{font-size:34px;
	line-height:34px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.black_thin_30{font-size:30px;
	line-height:30px;
font-weight:100;
font-family:'Montserrat',sans-serif;
color:#000;
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.black_thin_whitebg_30{font-size:30px;
	line-height:30px;
font-weight:300;
font-family:'Montserrat',sans-serif;
color:#000;
text-decoration:none;
background-color:#fff;
padding:5px 10px;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.white_heavy_60{font-size:60px;
	line-height:60px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.black_thin_blackbg_30{font-size:30px;
	line-height:30px;
font-weight:300;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:#000;
padding:5px 10px;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.light_thin_60{font-size:60px;
	line-height:60px;
font-weight:100;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
background-color:transparent;
text-shadow:none;
border-width:0;
border-color:#000;
border-style:none}.tp-caption.greenbgfull{background-color:#85b85f;
	width:100%;
height:100%;
border-width:0;
border-color:#222;
border-style:none}.tp-caption.bluebgfull{text-decoration:none;
	width:100%;
height:100%;
background-color:#3da4cf;
border-width:0;
border-color:#222;
border-style:none}.tp-caption.blackbgfull{text-decoration:none;
	width:100%;
height:100%;
background-color:rgba(0,0,0,0.247059);
border-width:0;
border-color:#222;
border-style:none}.tp-caption.wave_repeat1{width:100%;
	height:600px;
background-repeat:repeat-x;
background-color:transparent;
text-decoration:none;
border-width:0;
border-color:#222;
border-style:none}.tp-caption.wavebg2{width:200%;
	height:300px;
text-decoration:none;
background-image:url(http://themepunch.com/revolution/wp-content/uploads/2014/05/wave21.png);
border-width:0;
border-color:#222;
border-style:none}.tp-caption.wavebg1{width:200%;
	height:300px;
text-decoration:none;
background-image:url(http://themepunch.com/revolution/wp-content/uploads/2014/05/wave11.png);
border-width:0;
border-color:#222;
border-style:none}.tp-caption.wavebg3{width:200%;
	height:300px;
text-decoration:none;
background-image:url(http://themepunch.com/revolution/wp-content/uploads/2014/05/wave3.png);
border-width:0;
border-color:#222;
border-style:none}.tp-caption.wavebg4{width:200%;
	height:300px;
text-decoration:none;
background-image:url(http://themepunch.com/revolution/wp-content/uploads/2014/05/wave4.png);
border-width:0;
border-color:#222;
border-style:none}.tp-caption.greenishbg_heavy_70{font-size:70px;
	line-height:70px;
font-weight:900;
font-family:'Montserrat',sans-serif;
color:#fff;
text-decoration:none;
padding:50px;
text-shadow:none;
background-color:rgba(40,67,62,0.8);
border-width:0;
border-color:#000;
border-style:none}.tp-caption.wavebg5{width:200%;
	height:300px;
text-decoration:none;
background-image:url(http://themepunch.com/revolution/wp-content/uploads/2014/05/wave51.png);
border-width:0;
border-color:#222;
border-style:none}.tp-caption.deepblue_sea{width:100%;
	height:1000px;
background-color:rgba(30,46,59,1);
text-decoration:none;
border-width:0;
border-color:#222;
border-style:none}.tp-caption a{color:#ff7302;
	text-shadow:none;
-webkit-transition:all .2s ease-out;
-moz-transition:all .2s ease-out;
-o-transition:all .2s ease-out;
-ms-transition:all .2s ease-out}.tp-caption a:hover{color:#ffa902}.largeredbtn{font-family:"Raleway",sans-serif;
font-weight:900;
font-size:16px;
line-height:60px;
color:#fff!important;
text-decoration:none;
background:#ea5b1f;
background:-moz-linear-gradient(top,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(234,91,31,1)),color-stop(100%,rgba(227,58,12,1)));
background:-webkit-linear-gradient(top,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%);
background:-o-linear-gradient(top,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%);
background:-ms-linear-gradient(top,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%);
background:linear-gradient(to bottom,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea5b1f',endColorstr='#e33a0c',GradientType=0);
padding:22px 80px 22px 40px}.largeredbtn:hover{background:#e33a0c;
	background:-moz-linear-gradient(top,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(227,58,12,1)),color-stop(100%,rgba(234,91,31,1)));
background:-webkit-linear-gradient(top,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%);
background:-o-linear-gradient(top,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%);
background:-ms-linear-gradient(top,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%);
background:linear-gradient(to bottom,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e33a0c',endColorstr='#ea5b1f',GradientType=0)}.fullrounded img{-webkit-border-radius:400px;
	-moz-border-radius:400px;
border-radius:400px}
.main-menu{position:relative;z-index:9;width:auto}.main-menu a{-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}.main-menu ul,.main-menu ul li,.main-menu ul li a{position:relative;margin:0;padding:0}.main-menu ul li a{display:block;line-height:20px;padding:10px}.main-menu > ul > li > a{color:#fff;padding:0 12px 15px;font-size:13px}.sticky .main-menu > ul > li > a{color:#333}.main-menu > ul > li:hover > a{color:#e04f67}header#plain .main-menu > ul > li > a{color:#333}header#colored.sticky .main-menu > ul > li > a{color:#fff}.layer{display:none;position:fixed;top:0;left:0;width:100%;min-width:100%;z-index:100;min-height:100%;background-color:#000;opacity:0;z-index:9999}.layer-is-visible{display:block;-webkit-animation:fade-in-layer .3s;-moz-animation:fade-in-layer .3s;-ms-animation:fade-in-layer .3s;-o-animation:fade-in-layer .3s;animation:fade-in-layer .3s;opacity:.5}#close_in,#header_menu,.cmn-toggle-switch{display:none}a.dropdown-toggle.icon-search{display:inline-block}@media only screen and (min-width: 992px){.main-menu{width:auto}.main-menu a{white-space:nowrap}.main-menu ul li{display:inline-block}.main-menu ul li.submenu:hover > a:before,.main-menu ul li.submenu:hover > a:after{bottom:-20px;opacity:0}.main-menu ul ul,.main-menu ul .menu-wrapper{position:absolute;border-top:2px solid #e04f67;display:none;z-index:1;height:auto;left:3px;top:100%;margin:0;padding:0;background:#fff;min-width:170px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175)}.main-menu ul ul ul,.main-menu ul ul .menu-wrapper{position:absolute;border-top:0;display:none;z-index:1;height:auto;left:100%;top:0;margin:0;padding:0;background:#fff;min-width:170px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175)}.main-menu ul ul:before{bottom:100%;left:15%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-bottom-color:#e04f67;border-width:7px;margin-left:-7px}.main-menu ul ul ul:before{border-width:0;margin-left:0}.main-menu ul .menu-wrapper ul{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-top:none;margin:0;padding:0}.main-menu ul .menu-wrapper ul:before{border:0}.main-menu ul li:hover > ul,.main-menu ul li:hover > .menu-wrapper{display:block;padding:0}.main-menu ul ul li{display:block;height:auto;padding:0}.main-menu ul ul li a{font-size:12px;color:#666;border-bottom:1px solid #ededed;display:block}.main-menu ul ul li:last-child a{border-bottom:none}.main-menu ul ul li:hover > a{background-color:#f9f9f9;color:#e04f67}.main-menu ul li.megamenu{position:static}.main-menu ul li.megamenu .menu-wrapper{position:absolute;top:100%;width:1140px;float:left;left:auto;right:0;padding:10px 15px 0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.main-menu ul .menu-wrapper h3{font-size:13px;text-transform:uppercase;border-bottom:2px solid #ededed;padding-bottom:10px;margin-bottom:0}.main-menu ul .menu-wrapper ul{position:relative;display:block}.main-menu ul .menu-wrapper ul{margin-bottom:15px;left:0}}@media only screen and (max-width: 991px){#header_menu{text-align:center;padding:25px 15px 10px;position:relative;display:block}.main-menu ul li a:hover,a.show-submenu:hover,a.show-submenu:focus,a.show-submenu-mega:hover,a.show-submenu-mega:focus{color:#e04f67!important;background-color:#f9f9f9}.main-menu ul li{border-top:none;border-bottom:1px solid #ededed;color:#fff}.main-menu ul li a{padding:10px 15px!important}.main-menu h3{font-size:12px;line-height:14px;margin:0;padding:0 0 15px 15px;color:#333;text-transform:uppercase}.megamenu .menu-wrapper > div{padding:0}.main-menu li,.main-menu a{display:block;color:#333!important}.main-menu li{position:relative}.main-menu a:hover{color:#e04f67!important}.main-menu ul > li{padding-bottom:0}.main-menu ul > li i{float:right}.main-menu ul li.submenu ul{font-size:12px;border-left:1px solid #ededed;margin:0 0 15px 25px}.main-menu ul li.submenu ul li{font-size:12px;border:0}.main-menu ul li.submenu ul ul{border-left:none;margin:0 0 15px 15px}.main-menu{overflow:auto;left:-100%;bottom:0;width:55%;height:100%;opacity:0;position:fixed;background-color:#fff;-webkit-transition:left 0.8s,opacity .5s;-moz-transition:left 0.8s,opacity .5s;transition:left 0.8s,opacity .5s;z-index:9999;-webkit-box-shadow:1px 0 5px 0 rgba(50,50,50,0.55);-moz-box-shadow:1px 0 5px 0 rgba(50,50,50,0.55);box-shadow:1px 0 5px 0 rgba(50,50,50,0.55)}.main-menu.show{visibility:visible;left:0;opacity:1}.main-menu .show-submenu + ul,a.show-submenu-mega + .menu-wrapper{display:none;visibility:hidden}a.show-submenu-mega + .menu-wrapper.show_mega,.main-menu a.show-submenu + ul.show_normal{display:block;visibility:visible}.cmn-toggle-switch{position:relative;display:block;overflow:visible;position:absolute;top:0;right:20px;margin:0;padding:0;width:30px;height:30px;font-size:0;text-indent:-9999px;-webkit-appearance:none;-moz-appearance:none;appearance:none;box-shadow:none;border:none;cursor:pointer}.cmn-toggle-switch:focus{outline:none}.cmn-toggle-switch span{display:block;position:absolute;top:10px;left:0;right:0;height:2px;background:#fff}.cmn-toggle-switch span::before,.cmn-toggle-switch span::after{position:absolute;display:block;left:0;width:100%;height:2px;background-color:#fff;content:""}.sticky .cmn-toggle-switch span::before,.sticky .cmn-toggle-switch span::after,.sticky .cmn-toggle-switch span{background-color:#333}header#plain .cmn-toggle-switch span::before,header#plain .cmn-toggle-switch span::after,header#plain .cmn-toggle-switch span,header#plain.sticky .cmn-toggle-switch span::before,header#plain.sticky .cmn-toggle-switch span::after{background-color:#333}header#colored.sticky .cmn-toggle-switch span::before,header#colored.sticky .cmn-toggle-switch span::after,header#colored.sticky .cmn-toggle-switch span{background-color:#fff}.cmn-toggle-switch span::before{top:-10px}.cmn-toggle-switch span::after{bottom:-10px}.cmn-toggle-switch__htx span::before,.cmn-toggle-switch__htx span::after{-webkit-transition-duration:0.3s,.3s;transition-duration:0.3s,.3s;-webkit-transition-delay:0.3s,0;transition-delay:0.3s,0}.cmn-toggle-switch__htx span::before{-webkit-transition-property:top,-webkit-transform;transition-property:top,transform}.cmn-toggle-switch__htx span::after{-webkit-transition-property:bottom,-webkit-transform;transition-property:bottom,transform}.cmn-toggle-switch__htx.active span{background:none!important}.cmn-toggle-switch__htx.active span::before{top:0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}.cmn-toggle-switch__htx.active span::after{bottom:0;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}.cmn-toggle-switch__htx.active span::before,.cmn-toggle-switch__htx.active span::after{-webkit-transition-delay:0,.3s;transition-delay:0,.3s}}@media only screen and (max-width: 480px){.main-menu{width:100%}a#close_in{display:block;position:absolute;right:15px;top:10px;width:20px;height:20px}#close_in i{color:#555!important;font-size:16px}}
.ie9 a.show-submenu, .ie9 a.show-submenu-mega{ background:url(../img/fix_ie_9_menu.png);}
body {
	margin:0px 0px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif, Arial, sans-serif;
	font-size:12px;
	overflow: hidden; 
	text-align:center;
	-webkit-font-smoothing:antialiased; 
	}
a {
	text-decoration: none;
	color:#333;
	}	
img{
	border:none;
	}	
iframe {
z-index:1;
}
.znhead {
	background: #111  url(images/ansonika.png) no-repeat 15px 10px;
	
	}
#zncontainer {
	width:100%;
	position:relative;
	height:50px;
	}
#logo {
	background:url("images/logo.png") no-repeat;
	float:left;
	width:214px;
	height:23px;
	margin-top: 5px;
	cursor: pointer;
	}
#zndrop {
	float:left;
	position:relative;
	}
	#allert {
		position:absolute;
		top:12px;
		right:150px;
		color: #666;
		font-size:11px;
		text-align:right;
	}

#znbuy a{
text-decoration:none;
	background: #222;
		line-height:50px;
		height:50px;
		float:right;
		color:#fff;
		display: inline-block;
			margin-right:2px;
			padding-right:15px;
			padding-left:15px;
			font-weight:600;
			outline:none;
			 -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#znbuy a:hover, #znremoveframe a:hover {
	background:#099;
}
#znremoveframe a { text-indent:-9999px; display:inline-block; width:50px;
			font-weight:600;
			outline:none; position:relative; float:right;background: #222; text-align:center;line-height:50px;
		line-height:50px;
		height:50px;}

#znremoveframe a:before{
	font-family: "fontello";
	content: "\e988";
	position:absolute;
	left:20px;
	font-weight:normal;
	color:#fff;
	font-size:22px;
	top:0;
	text-indent:0px;

}

.zndrop_container {
    color: #444;
	margin-left:52px;    
	width: 280px;
    cursor: pointer;
	position:absolute;
	outline:none;
	background: #222 url(images/arrow.png) no-repeat 260px center;
	}

.zndrop_button {
	display: block;
	height:50px;
	line-height:50px;
	text-align:left;
	padding-left:15px;
	color:#fff;
	width:160px; 
	}
.zn_list {
	overflow:auto;
	width:420px;
	outline:none;
	max-height:410px;
	list-style:none;
	position: relative;
	padding:0;	cursor: pointer;
	margin:0;
	background-color:#fff;
    	}
	.zn_list li:hover, .zn_list li#selected{
	background-color:#ededed;
    	}
.zn_list li {
height:79px;
			text-align:left;
			padding:10px;
			border-bottom:1px solid #e4e4e4;
			
	}
	.zn_list li:last-child {
height:80px;
			text-align:left;
			padding:10px;
			border-bottom:none;
			
	}
.zn_list li span {
	display:block;
	}

.zn_crt {
	background:#fff;
	padding-left: 10px;
    padding-right: 10px;
    color:000;
	}
.zn_crt a {
	color:000;
	}
.znfr {
	float:left;
	}
#zntip{
	position:absolute;
	background:#111;
	padding:2px;
	color:#333;
	display:none;
	}
	#zntip img {
		width:420px;
		height:auto;
	}
	
.item-name{ font-weight:600; }
.item-category{ color: #999;}
.item-cost, .item-sales, .item-rate{ float:left;color:#FFFFFF;margin-top:2px;background:#777777;padding:2px 4px 2px 4px; margin-top:10px;}
.item-sales, .item-rate{ margin-left:2px;}

.item-details { float:left; width:300px;}
.item-image { float:right; width:80px; height:80px;}


@media (max-width: 767px) {
	#znbuy a, #znremoveframe a {
text-decoration:none;
	background: #222;
		line-height:50px;
		height:50px;
		float:right;
		color:#fff;
		display: inline-block;
			margin-right:2px;
			padding-right:15px;
			padding-left:15px;
			font-weight:600;
			outline:none;
}


#znbuy a, #znremoveframe a{
	display:block;
	width:50px;
	height:50px;
	text-indent:-9999px;
	position:relative;
	padding:0;
	margin-right:0;
}
#znbuy a:before{
	font-family: "fontello";
	content: "\ec87";
	position:absolute;
	left:16px;
	font-size:22px;
	top:0;
	text-indent:0px;
}
#allert {
		display:none;
	}
.zndrop_container {
    color: #444;
	margin-left:0;    
	width: 220px;
    cursor: pointer;
	position:absolute;
	outline:none;
	background: #222 url(images/arrow.png) no-repeat 200px center;
	}
	.addthis_sharing_toolbox{ display:none;}
}
